<!-- banner -->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'cocktail_bar.jpeg' %>');">
    <div class="container">
      <h1>Your personal Cocktail Kit</h1>
      <h3>Get creative and discover your favorite cocktail</h3>
      <%= link_to "Create Your Cocktail", new_cocktail_path, class: "btn btn-ghost btn-lg", style: "display: inline-block" %>
    </div>
  </div>

  <div class="container-index mt-4">
    <!-- list of all cocktails -->
    <h2 id="cocktail-list">Cocktail Menu</h2>
    <%= render 'layouts/cocktail-grid' %>
  </div>
